* {
  outline: none;
}
body {
  background: #ffffff;
}
body #contentwrapper {
  position: relative;
  padding-top: 60px;
}
body #contentwrapper header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  background: #f0f0f0;
  color: #000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dedede;
}
body #contentwrapper header .wrap {
  margin: 0 auto;
  height: 100%;
  width: 1004px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-left: 190px;
}
body #contentwrapper header .wrap .logo {
  font-weight: 400;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 0px;
  width: 190px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 68px;
  font-size: 32px;
  padding-left: 54px;
  background: url('../img/logo.png');
  background: rgba(0, 0, 0, 0) url('../img/logo.svg');
  background-size: 60px 60px;
  background-position: left center;
  background-repeat: no-repeat;
  font-family: 'Colfax', 'Helvetica', Arial, sans-serif;
  color: #000;
}
body #contentwrapper header .wrap .search {
  padding-right: 40px;
  position: relative;
  vertical-align: middle;
  padding-top: 10px;
  overflow: hidden;
}
body #contentwrapper header .wrap .search input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0px;
  padding-left: 5px;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Proxima Nova', 'Helvetica', Arial, sans-serif;
  outline: none;
  border: 1px solid #dedede;
  border-right: none;
}
body #contentwrapper header .wrap .search button {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: url('../img/search.png');
  background: rgba(0, 0, 0, 0) url('../img/search.svg');
  background-color: #dedede;
  background-color: #274359;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}
body #contentwrapper header .wrap .search button:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
}
body #contentwrapper header .wrap .right {
  float: right;
  margin-left: 10px;
  font-family: 'Proxima Nova', 'Helvetica', Arial, sans-serif;
}
body #contentwrapper header .wrap .right .button {
  display: inline-block;
  height: 40px;
  float: left;
  line-height: 40px;
  margin-top: 10px;
  padding: 0px 10px;
  color: #FFF;
  text-shadow: none;
  text-decoration: none;
}
body #contentwrapper header .wrap .right .button:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
}
body #contentwrapper header .wrap .right .button.upload {
  background: #274359;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
body #contentwrapper header .wrap .right .button.broadcast {
  background: #3c6673;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
body #contentwrapper header .wrap .right .username {
  margin-left: 10px;
  line-height: 42px;
  margin-top: 10px;
  display: inline-block;
  color: #000;
  font-family: 'Colfax', 'Helvetica', Arial, sans-serif;
  font-weight: 500;
}
